@import url(./reset.css);

:root{
    --header-title: rgb(108, 92, 231);
    --header-title-text: #fff;
    --header-font-size: 4.5rem;

}

header h1{
    line-height: 7.0rem;
    text-align: start;
    background-color: var(--header-title);
    color: var(--header-title-text);
    font-size: var(--header-font-size);
    font-size: var(--header-font-size);
    font-weight: 50;
    
}    