.section-description {
    color: var(--text-muted);
    margin-bottom: 3rem;
    max-width: 600px;
}

.projets-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projet-card {
    background-color: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.05);
    transition: var(--transition);
    border: 1px solid #e2e8f0;
}

.projet-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.projet-img {
    height: 200px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-placeholder-small {
    font-size: 4rem;
    color: var(--primary-color);
    opacity: 0.5;
}

.projet-info {
    padding: 1.5rem;
}

.projet-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    font-family: var(--title-font);
}

.projet-desc {
    color: var(--text-muted);
    font-size: 0.95rem;
    margin-bottom: 1.25rem;
    height: 4.5rem; /* On fixe une hauteur pour l'alignement */
    overflow: hidden;
}

.projet-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.tag {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.2rem 0.7rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
}

.projet-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.projet-link:hover {
    gap: 0.8rem;
}







 .container { display: flex; flex-wrap: wrap; gap: 20px; }
        .image-box { width: 400px; border: 1px solid #ddd; padding: 10px; }
        .image-box img { width: 400%; height: 200px; object-fit: cover; }
        .image-title { font-weight: bold; margin: 10px 0 5px 0; }