
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Freckle+Face&family=Oswald:wght@200..700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}


ul, ol {
    list-style: none;
    padding: 0;
}


a {
    text-decoration: none;
    color: inherit;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

:root {
   
    --primary-color:  #ffcc00;
    --primary-light: #2DD4BF;
    --secondary-color: #F0FDFA;
    --text-color: #134E4A;
    --text-muted: #64748b;
    --bg-color: #ffffff;
    --bg-light: #f8fafc;
    --white: #ffffff;

   
    --body-font: 'Geist', sans-serif;
    --title-font: 'Playfair Display', serif;

    
    --header-height: 4.5rem;
    --container-width: 1024px;
    --border-radius: 0.75rem;
    --transition: all 0.3s ease;
}
